@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900|Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-simplified,chinese-traditional,cyrillic,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lato);


@media only screen and (min-width: 1201px) and (max-width: 1710px){
  .faca-zone3-a2-1-gap {
    margin-top: 15px !important;
  }
}


@media only screen and (min-width: 1200px){
  .zone2-left {
    min-width: 295px !important;
  }
  .zone2-left img {
    margin: 59px auto auto auto !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
  .zone2-left {
    min-width: 295px !important;
    font-size: 50px !important;
  }
  .zone2-left img {
    margin: 59px auto auto auto !important;
  }

  .faca-zone3 .faca-zone3-a2 {
    height: 740px !important;
  }
  .faca-zone3-a2-1 {
    height: 740px !important;
  }

}

@media only screen and (min-width: 600px) and (max-width: 991px){
  .faca-zone3 .faca-zone3-a2 {
    height: 620px !important;
  }
  .faca-zone3-a2-1 {
    height: 620px !important;
  }

  .faca-zone3 .faca-zone3-a3 {
    height: 600px !important;
  }
  
  .faca-zone3 .faca-zone3-a3-1 {
    height: 300px !important;
  }
  
  .faca-zone3 .faca-zone3-a3-2 {
    height: 300px !important;
  }

  .faca-zone3 .faca-zone3-a4 {
    height: 400px !important;
  }
  
  .faca-zone3 .faca-zone3-a4-1 {
    height: 400px !important;
  }

  .faca-zone5 .faca-step {
    margin-top: 0px !important;
  }

  .faca-button {
    margin-left: 0px !important;
  }

  .faca-footer-solgon {
    margin-top: 16px;
    font-size: 36px !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px){
  .faca-fn-title {
    font-size: 35px !important;
  }

  .faca-zone3-a2-1-gap {
    margin-top: 15px !important;
  }

  .faca-zone3 .faca-zone3-a2 {
    height: 680px !important;
  }
  .faca-zone3-a2-1 {
    height: 680px !important;
  }

  .faca-zone3 .faca-zone3-a3 {
    height: 600px !important;
    padding: 0;
  }
  
  .faca-zone3 .faca-zone3-a3-1 {
    height: 300px !important;
  }
  
  .faca-zone3 .faca-zone3-a3-2 {
    height: 300px !important;
  }

  .faca-zone3 .faca-zone3-a4 {
    height: 400px !important;
  }
  
  .faca-zone3 .faca-zone3-a4-1 {
    height: 400px !important;
  }

  .faca-zone5 .faca-step {
    margin-top: 0px !important;
  }

  .faca-footer-solgon {
    margin-top: 12px;
    font-size: 30px !important;
  }

  .faca-table {
    font-size: 12px !important;
  }

  .faca-table th {
    font-size: 14px !important;
  }

  .faca-Rectangle {
    display: none;
  }

  .faca-button {
    margin-left: 0px !important;
  }

  .carousel-item-img {
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 420px){
  .faca-fn-title span {
    display: block;
  }
}

.video-wrapper{
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.video-wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 98.5%;
  height: 100%;
}

.faca-body {
  background-color: white;
  font-family: NotoSansTC, NotoSansSC, Roboto;
}
.carousel .indicators .indicator-item {
	height: 12px !important;
  width: 12px !important;
}
.carousel .indicators .indicator-item.active {
	background-color: #9599a2;
}
.carousel .indicators .indicator-item {
	background-color: #d1d4d9;
}
.faca-zone3 .carousel .indicators {
    bottom: -28px;
}
.faca-zone4 .carousel .indicators {
    bottom: 0px;
}

.faca-ul ul {
	margin-top: -12px;
}
.faca-ul li {
	list-style-type: disc !important;
	color: #333843;
	font-size: 16px;
	font-weight: 500;
	line-height: 2;
  margin-left: 20px;
  text-align: justify;
}

.faca-zone1 {
  background-image: url("../icon/kv.jpg");
  height: 560px;
  background-position: center;
}

.faca-zone2 {
  background-image: url("../icon/bg1.png");
  background-repeat-y: no-repeat;
}

.zone2-left {
  margin-top: 25%;
  line-height: 1.47;
  font-weight: bold;
  font-size: 60px;
}

.faca-zone3 {
  background-color: #f2f2f2;
  margin-top: 39px;
}

.faca-zone3 .container {
  max-width: 100vw;
  width: 100%;
}

.faca-zone3 .faca-zone3-a1 {
  background-image: url("../icon/7374.jpg");
  background-repeat-y: no-repeat;
  background-size: cover;
  background-position: center;
  height: 740px;
  padding: 0;
}

.faca-zone3 .faca-zone3-a2 {
  background-image: url("../icon/331.jpg");
  background-repeat-y: no-repeat;
  background-size: cover;
  background-position: center;
  height: 740px;
  padding: 0;
}

.faca-zone3-a2-1 {
  background-color: #fafafa;
  opacity: 0.85;
  height: 740px;
  padding: 24px;
}

.faca-zone3-a2-1-gap {
  margin-top: 115px;
}

.faca-zone3 .faca-zone3-a3 {
  height: 740px;
  padding: 0;
}

.faca-zone3 .faca-zone3-a3-1 {
  background-image: url("../icon/13996.jpg");
  background-repeat-y: no-repeat;
  background-size: cover;
  background-position: center;
  height: 370px;
  padding: 0;
}

.faca-zone3 .faca-zone3-a3-2 {
  background-color: #1d6df7;
  height: 370px;
  padding: 24px;
}

.faca-zone3 .faca-zone3-a4 {
  background-image: url("../icon/107.jpg");
  background-repeat-y: no-repeat;
  background-size: cover;
  background-position: center;
  height: 740px;
  padding: 0;
}

.faca-zone3 .faca-zone3-a4-1 {
  background-color: #333843;
  opacity: 0.85;
  height: 740px;
  padding: 24px;
}

.faca-zone4 {
	background-image: url("../icon/bg2.jpg");

  background-position: center;
}
.faca-zone4 .zone4-one {
  background-image: url("../icon/01b.jpg");
  background-repeat-y: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.faca-zone4 .zone4-two {
  background-image: url("../icon/02b.jpg");
  background-repeat-y: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.faca-zone4 .zone4-three {
  background-image: url("../icon/03b.jpg");
  background-repeat-y: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.carousel-item .col {
  background-color: #333843;
  opacity: 0.85;
  height: 100%;
}

.faca-zone5 .faca-step {
  font-weight: bold;
  line-height: 1.45;
  margin-top: 52px;
  text-align: center;
}

.faca-zone6 {
	background-color: #f2f2f2;
  padding-bottom: 20px;
}

.page-footer {
	background-image: url("../icon/bg4.jpg");
	height: 400px;
  position: relative;
  background-position: center;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.5) !important;
  text-align: center;
  line-height: 1;
  font-size: 12px;
  color: #fafafa;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.faca-col {
  background-color: #FFFFFFFF;
}

.faca-slogan {
  color: #fafafa;
  font-size: 70px;
  font-weight: 900;
  line-height: 88px;
}

.faca-slogan p {
  margin: 0;
}

.faca-footer-solgon {
  font-size: 40px;
  font-weight: bold;
  color:#02d26a;
  text-align: center;
  padding-top: 63.5px;
  line-height: 1.2;
}

.faca-title {
  margin-top: 12.5%;
  color: #39e37e;
  font-size: 40px;
  font-weight: 700;
  line-height: 88px;
}

.faca-fn-title {
  color: #333843;
  font-size: 40px;
  font-weight: bold;
  padding-top: 47px;
}
.faca-fn-title span {
  color: #006efa;;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  text-decoration:underline;
 }

.faca-fn-item-title {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}

.faca-fn-item-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.45;
}

.faca-fn-item-subtitle-num{
  color: #333843;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.5;
}

.faca-fn-item-desp {
  color: #333843;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.faca-collapsible {
	display: none;
	width: 1290px;
  border-radius: 10px;
  background-color: #333843;
	font-size: 16px;
  font-weight: 500;
	color: #fafafa;
	padding-top: 13px;
	padding-left: 13px;
}

.faca-collapsible.open {
	display: block;
}

.icon-block p {
	color: #333843;
	font-size: 16px;
	font-weight: 500;
  line-height: 1.5;
  text-align: justify;
}

.faca-Rectangle {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  background-color: #1d6df7;
  cursor: pointer;
  z-index: 101;
  position: absolute;
}

.faca-button {
  text-transform: none;
  height: 60px;
  border-radius: 10px;
  background-color: #76b1fb;
  font-size: 20px;
  font-weight: bold;
  line-height: 3;
}

.faca-button.active {
  background-color: #1d6df7;
}


.faca-button:hover{
  background-color: #1d6df7;
}

.faca-table th {
  background-color: #325f9b;
  font-size: 18px;
  font-weight: bold;
  color: #fcfcfc;
  padding: 6.6px 0px 7.4px 14.3px;
  font-family: Lato;
}
.faca-table td {
  padding: 6.6px 0px 7.4px 14.3px;
}

.faca-table .faca-type {
  padding: 6.6px 0px 7.4px 14.3px;
  color: #325f9b;
  font-size: 17px;
  font-weight: 500;
  font-family: Lato;
  line-height: 1.18;
}
.faca-table .faca-desp {
  padding: 6.6px 0px 7.4px 14.3px;
  font-family: Lato;
  font-weight: 300;
  line-height: 1.18;
}

table.striped > tbody > tr:nth-child(even) {
	background-color: #dee6f2;
}
